* {
    font-family: Helvetica;
}

.home-header {
    width:100%;
    background-color:transparent;
    position:absolute;
}
.header-wrapper {
    display:flex;
    max-width: 75%;
    justify-content: space-between;
    margin:10px auto;

}


.co-logo {
    width:173px;
    height:25px;
    margin:15px 0px;
}

.tray-icon{
    width:23px;
    height:23px;
    margin:15px;
}

.hero {
    background-color:#004A80;
    height:444px;
    width:100%;
    text-align:left;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

form input {
    /* max-width:780px; */
    width:780px;
    height:70px;
}

form button {
    width:180px;
    height:78px;
    background-color:#F6BC25;
    color:#004A80;
    font-size:2rem;
    margin:0px 25px;
}

.info-heading {
    text-align:center;

}

.lookup-info{
    max-width:75%;
    margin:0px auto;
    /* height:800px; */
    
    /* height:800px; */
}

.info-heading h1 {
    font-size:2.5rem;
    margin:50px 0px;
}

.info-heading p {
    max-width:90%;
    margin:0px auto;
    text-align:left;
    color:#4A4A4A;
    font-size:22px;
    line-height:2rem;
    /* margin: 50px 0px; */
}


.info-wrapper{
    overflow: hidden;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:800px;
}

.info-item {
    display:flex;
    /* width:225px; */
    flex: 1 1 25%;
    height:200px;
    margin:25px;
    /* flex-wrap:wrap; */
}

.info-text{
    max-width: 350px;
}

.info-text p {
    line-height:1.5rem;
    font-size:18px;
}

.info-number{
    background-color:#004A80;
    width:90px;
    height:90px;
    border-radius:50px;
    position:relative;
    margin:25px;
}

.info-number h1 {
    color:#F6BC25;
    position:absolute;
    left:50%;
    margin-left:-12px;
    margin-top:-27.5px;
    font-size:3rem;
    top:50%;
}

.gold-text{
    color:#F6BC25;
}

.blue-text{
    color:#004A80;
}



.footer-wrapper{
    color:#999999;
    max-width:95%;
    margin:0px auto;
    display:flex;
}

.footer-links {
    display:flex;
    align-items:center;
}


.loading-screen {
    height: 100vh;
    /* display: flex !important; */
    margin-top:100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display:none;
}

.error-page {
    display:none;
}
.result-page {
    display:none;
}

.result-page-content {
    height:400px;
    width:100%;
}


.result-page .lookup-header {
    background-color:#004A80;
}

.loading-screen .lookup-header {
    background-color:#004A80;
}

.error-page .lookup-header {
    background-color:#004A80;
}

.error-page-content {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-page-content h1 {
    font-size:2.5rem;
}


.result-heading {
    padding-top: 77px;
    width:100%;
    text-align:center;
}

.card-header{
    width:75%;
    margin:0px auto;
}


.result-card {
    max-width:980px;
    margin:25px auto;
    border-radius:25px;
    padding:25px;
    box-shadow: rgba(37, 42, 49, 0.16) 20px 20px 50px 20px, rgba(37, 42, 49, 0.12) 0px 1px 4px 0px;
    height:100%;
    position: relative;
}

.av-box{
    margin-top:15px;
    top:25px;
    left:25px;
    position:absolute;
    width:90px;
    height:90px;
    border-radius:50px;
    background-color:#004A80;
}

.av-img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -23px;
}

.card-detail {
    height:125px;
    min-height:100%;
}

.card-bottom {
    height: 100%;
    max-width: 75%;
    margin: 0px auto;
}

.card-left{
   width:50%; 
   float:left;
}
.card-right{
width:50%;
float:right;
}

.card-numbers {
    display:flex;
    flex-direction: column;
   
}

.card-numbers a {
    margin:3px;
    text-decoration:none !important;
}



img.loading-spinner {
    margin-top: 15%;
}