* {
    font-family: Helvetica;
}

.header {
    width:100%;
    background-color:transparent;
    position:absolute;
}
.header-wrapper {
    display:flex;
    max-width: 75%;
    justify-content: space-between;
    margin:10px auto;

}

.hero {
    background-color:#004A80;
    height:444px;
    width:100%;
    text-align:left;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

form input {
    /* max-width:780px; */
    width:780px;
    height:70px;
}

form button {
    width:180px;
    height:78px;
    background-color:#F6BC25;
    color:#004A80;
    font-size:2rem;
    margin:0px 25px;
}

.info-heading {
    text-align:center;

}

.lookup-info{
    max-width:75%;
    margin:0px auto;
    /* height:800px; */
    
    /* height:800px; */
}

.info-heading h1 {
    font-size:2.5rem;
    margin:50px 0px;
}

.info-heading p {
    max-width:90%;
    margin:0px auto;
    text-align:left;
    color:#4A4A4A;
    font-size:22px;
    line-height:2rem;
    /* margin: 50px 0px; */
}


.info-wrapper{
    overflow: hidden;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:800px;
}

.info-item {
    display:flex;
    /* width:225px; */
    flex: 1 1 25%;
    height:200px;
    margin:25px;
    /* flex-wrap:wrap; */
}

.info-text{
    max-width: 350px;
}

.info-text p {
    line-height:1.5rem;
    font-size:18px;
}

.info-number{
    background-color:#004A80;
    width:90px;
    height:90px;
    border-radius:50px;
    position:relative;
    margin:25px;
}

.info-number h1 {
    color:#F6BC25;
    position:absolute;
    left:50%;
    margin-left:-12px;
    margin-top:-27.5px;
    font-size:3rem;
    top:50%;
}

.gold-text{
    color:#F6BC25;
}

.blue-text{
    color:#004A80;
}



.footer-wrapper{
    color:#999999;
    max-width:95%;
    margin:0px auto;
    display:flex;
}

.footer-links {
    display:flex;
    align-items:center;
}
